



.user-details-card {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: #fff;
  padding: 20px;
  &__avatar {
    max-height: 460px;
    img{
      height:240px;
      width: 240px;
      border-radius: 14px;
    }
  }

  &__info {
    width: calc( 100vw - 480px);
    padding: 0 20px;
    margin-top: -20px;
    &__location{
      margin: 0;
    }
    &__statistics {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}