

.header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  padding: 20px;
  min-height: 60px;
  background: #fff;
  &__site-info{
    display: flex;
    &__logo{
      height: 50px;
      width: 50px;
      margin-right: 20px;
      margin-top: 10px;
    }
    &__details{
      &__title{
        margin: 8px 0;
      }
      &__sub-title{
        margin: 0;
      }
    }

  }

}